<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">密碼產生器</h1>

      <div class="field">
        <label>密碼長度</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseLetters()" />
            使用英文字母
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseNumbers()" />
            使用數字
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseSymbols()" />
            使用符號
          </label>
        </div>
      </div>

      <button
        [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        "
        (click)="onButtonClick()"
        class="button is-link is-fullwidth"
      >
        產生!
      </button>

      <div class="box" *ngIf="password">
        <label>您的密碼為</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
